* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans',
  sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #2D2334;
  height: 80px;
}

.title {
  color: #fff;
  padding: 17px 0 0 30px;
  margin: 0;
  font-weight: 300;
}

.title-party {
  color: #52989F;
}

h3 {
  padding-left: 30px;
  font-weight: 300;
  margin-right: 0;
}

.name {
  float: right;
  color: #fff;
  margin: 25px 40px 0 0;
  font-weight: 300;
}

.accordian {
  padding: 10px 0px 40px 0px;
  width: 80%;
  margin: auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tabs div {
  border-bottom: 1px solid #D1D2D3;
  padding: 15px;
  height: 50px;
  width: 25%;
  background-color: #D1D2D3;
  text-align: center;
  color: grey;
}

.tabs div.selected {
  border-top: 1px solid #D1D2D3;
  border-left: .5px solid #D1D2D3;
  border-right: .5px solid #D1D2D3;
  color: black;
  background-color: #fff;
  border-bottom: none;
}

img {
  width: 250px;
  height: 290px;
}

.view-code {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 1px solid black;
  color: #fff;
  background-color: #2D2334;
  width: 280px;
  margin: auto;
  height: 50px;
  padding-top: 10px;
  font-size: 1.2em;
  font-weight: 300;
}

.tab-info {
  display: flex;
  padding: 15px;
  border: 1px solid #D1D2D3;
  border-top: none;
}

.text {
  margin: 0 10px 0 20px;
}

.text-title {
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
}

.top-line {
  width: 80%;
  position: relative;
  top: 20px;
}

.line {
  display: flex;
}

.title-line {
  width: 80%;
}

@media screen and (max-width: 850px) {
  .text {
    font-size: .8em;
  }

  .top-line {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .tab-info {
    flex-direction: column;
  }

  .text {
    font-size: 1em;
  }

  img {
    width: 100%;
    height: 20%;
  }
}

@media screen and (max-width: 500px) {
  .name {
    float: none;
    margin: 10px auto 0 auto;
    padding-bottom: 15px;
    font-size: 1em;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    height: 100px;
  }

  .title {
    padding: 0;
    font-size: 2.5em;
    margin: 0 auto 0 auto;
  }

  .line {
    flex-direction: column;
  }

  .top-line {
    width: 20%;
    position: static;
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 0;
    text-align: center;
  }

  .accordian {
    padding: 0;
  }

  .view-code {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .tabs {
    display: block;
    padding: 0 15px 0 15px;
  }

  .tabs div {
    width: 100%;
    text-align: left;
    background-image: url('./assets/add.svg');
    background-repeat: no-repeat;
    background-position: 260px 15px;
    background-size: 15px 15px;
  }

  .tab-info {
    border: none;
    padding-top: 0;
  }

 .tabs div.selected {
  border: 1px solid #D1D2D3;
  background-image: url('./assets/minus.svg');
  background-repeat: no-repeat;
  background-position: 260px 15px;
  background-size: 15px 15px;
  }
  
  .accordian {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .tab-4.selected {
      border: none !important;
    }

  h3 {
    margin-top: 30px;
  }
}

/******************** Flexcards *******************/

.flex-box {
  width: 80%;
  height: 720px;
  margin: 10px auto;
}

.grid {
  display: grid;
  grid-template-columns: 33.5% 33.5% 33.5%;
  grid-template-rows: 30% 30% 30%;
}

.box {
  border: 1px solid #D1D2D3;
  height: 220px;
  margin: 10px;
}

.flex-cards {
  margin-top: 20%;
}

.one {
  grid-column: 1 / 3;
}

.seven {
  grid-column: 2 / 4;
}

h4 {
  padding-left: 15px;
  font-weight: 600;
  border-bottom: 1px solid #D1D2D3;
  margin-bottom: 0;
  padding-bottom: 15px;
}

@media screen and (max-width: 400px) {
  .flex-box {
    width: 100%;
    padding: 15px;
  }

  .one,
  .four,
  .five,
  .seven {
    display: none;
  }

  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 33.5% 33.5% 33.5%;
  }
}

/******************Header Bar******************/